<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
    <extension
         point="org.eclipse.ui.console.consolePageParticipants">
      <consolePageParticipant
            class="com.github.eclipse.yatb.ConsoleActions"
            id="com.github.eclipse.yatb.consolePageParticipant">
         <enablement>
            <instanceof value="org.eclipse.ui.console.IOConsole"/>
         </enablement>
      </consolePageParticipant>
   </extension>
   
</plugin>
